<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDirectory" value="C:\Enterworks\EnableServer71\"/>
    <add key="EncryptJboss" value="C:\Enterworks\EnableServer71\bin\runscripts\getEncryptedJbossString.bat"/>
    <add key="EncryptPassword" value="C:\Enterworks\EnableServer71\bin\runscripts\getEncryptedString.bat"/>
    <add key="TomcatPath" value="tomcat\webapps\webcm\WEB-INF\classes"/>
    <add key="JbossPath" value="jboss\server\default\conf"/>
  </appSettings>
</configuration>